
$textColor: #333;
$white: #ffffff;
$black: #000;
$green: #67b223;
$sunset: #e4d4a9;
$sky: #2c6da5;
$buttongreen: #5fa420;
$bordergreen: #88c94c;
$gray: #667280;
$textgray: #4f84b0;
$footerColor: #fafafa;


